body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

h1 {
    text-align: center; 
    font-size: 5em;
    margin-bottom: 7%;
    line-height: 110%;

}

p {
    line-height: 130%;
    text-indent: 5%;
}

h2{
    margin-top: 6%;
    margin-bottom: 2%;
}

h3{
    text-indent: 5%;
}

p:hover{
    color: pink;
}