body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

h1 {
    text-align: justify; 
    font-size: 5em;
    margin-bottom: 7%;
    line-height: 110%;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    font-family: 'Times New Roman', Times, serif;
}

p {
    line-height: 130%;
    text-indent: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #49492f
}

h2{
    margin-top: 6%;
    margin-bottom: 2%;
}

h3{
    text-indent: 5%;
}

p:hover{
    color: #2c391f;
}